<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PickChatter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
  <userSettings>
    <PickChatter.Properties.Settings>
      <setting name="TwitchUsername" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchOauth" serializeAs="String">
        <value />
      </setting>
      <setting name="TwitchChannel" serializeAs="String">
        <value />
      </setting>
      <setting name="Rule1Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rule2Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rule1MessageCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Rule1TimeLimit" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Rule2ContainType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Rule2String" serializeAs="String">
        <value />
      </setting>
      <setting name="Rule2CaseSensitive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rule2TimeLimit" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SpeechSynthesisEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MicrosoftVoice" serializeAs="String">
        <value />
      </setting>
      <setting name="AmazonVoice" serializeAs="String">
        <value>Brian</value>
      </setting>
      <setting name="SpeechSynthesisType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GoogleVoice" serializeAs="String">
        <value>John</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Rule3Enabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rule3Subscriber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rule3VIP" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rule3Moderator" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Rule3SubscriberTime" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AutoPickingEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExcludeUsersEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExcludeUsersString" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoPickingTime" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="AutoPickingTimeType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExcludeCommandsEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChatterMode" serializeAs="String">
        <value>0</value>
      </setting>
    </PickChatter.Properties.Settings>
  </userSettings>
</configuration>